/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body{
        @apply bg-[url('/src/images/background.png')] flex bg-cover bg-no-repeat gap-[15rem] h-[500px] fixed text-white
    }
}
/* @layer utilities {
    body{
        @apply bg-[url('src/images/background.png')] flex
        /* background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        gap: 15rem;
        height: 500px;
        position: fixed;
        color: white; */
    /* }
    
/* } 
/* .container fieldset{
    margin-left: 8rem;
    padding: 2rem;
    width: 400px;
}
.container fieldset legend{
    text-align: center;
    font-size: 2rem;
} */